*{
     margin:0;
     padding:0;
     box-sizing:border-box;

}

 .logo{
    height: 70px;
    width:20%;
    align-content: center;
    margin-left: 40%;
}   

.cab{
    background-color: black;
    max-height: 70px;
}

.google-play {
    width: 110px;
    height: 45px;
    justify-content: left;
    margin-bottom: 12px;
    margin-left: 250px;
}
.apple{
    width: 110px;
    height: 45px;
    justify-content: left;
    margin-bottom: 12px;
    margin-left: 3px;
}

body{
    background-color: rgb(156, 151, 151);
}